services:

  redis:
    image: redis:7-alpine
    container_name: redis_space
    ports:
      - "6379:6379"
    networks:
      - app
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  postgres:
    image: postgres:15-alpine
    container_name: postgres_space
    environment:
      - POSTGRES_DB=spacedb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=QWERTY
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d spacedb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

volumes:
  pg_data:
  redis_data:

networks:
  app:
    driver: bridge
